<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Brian Salgado</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}


    <h1> Brian Salgado</h1>
    <img src="https://scontent.faep15-1.fna.fbcdn.net/v/t1.0-9/p720x720/84142453_2159902984113028_6060423232337477632_o.jpg?_nc_cat=107&_nc_sid=110474&_nc_eui2=AeGCXFIegqdHAWAioRqNyPQHININrkq17Iwg0g2uSrXsjBGWea9EG47b_egbVBsHO0o&_nc_ohc=Nfy-KGKiZksAX8FvCJS&_nc_ht=scontent.faep15-1.fna&_nc_tp=6&oh=732d300f980a316d7f9b882dd0765f7f&oe=5F2A8E86" alt="Brian" width="320" height="240">
    <img src="https://scontent.faep15-1.fna.fbcdn.net/v/t1.0-9/p720x720/82624857_2140071802762813_6124473864874360832_o.jpg?_nc_cat=106&_nc_sid=110474&_nc_eui2=AeG8DmMWNA2WfKSpV58fxKF2IQFp8eB9_YohAWnx4H39igfL6nobDTY2tQal87kHrv8&_nc_ohc=pGfEr1i3DEMAX-d5Qyl&_nc_ht=scontent.faep15-1.fna&_nc_tp=6&oh=9a174194b4fa6ba2a1b90f7abd527b84&oe=5F2A603F" alt="Brian" width="320" height="240">
    <img src="https://scontent.faep15-1.fna.fbcdn.net/v/t1.0-9/p720x720/107143867_2498182350285088_2972346311214996629_o.jpg?_nc_cat=101&_nc_sid=85a577&_nc_eui2=AeEQoV_KevdPXVs5rYXfZkkG8INKdsXhGL_wg0p2xeEYv14jaICxV40pkXRpLgt9ja8&_nc_ohc=PzCi2j9L7NgAX-Ykc92&_nc_ht=scontent.faep15-1.fna&_nc_tp=6&oh=b4ee884c0ff3928827b4ff1b60a25383&oe=5F28F896" alt="Brian" width="320" height="240">
    <img src="https://scontent.faep15-1.fna.fbcdn.net/v/t1.0-9/p720x720/87105585_2191117784324881_150976140633178112_o.jpg?_nc_cat=109&_nc_sid=110474&_nc_eui2=AeH8ZDVu0u_ZBwz61rhoZz7Kd4o-Bn1DdwF3ij4GfUN3AWtp-8nAt6JgQO7vdqo6hFs&_nc_ohc=Z4dc7NGrQGcAX-TLsQ6&_nc_ht=scontent.faep15-1.fna&_nc_tp=6&oh=e4c605e568451b9ccd806cabe256e5b0&oe=5F2B46E7" alt="Brian" width="320" height="240">

    <h2>Datos Personales</h2>
    <li>DNI: </li>
    <li>Lugar Nacimiento: </li>
    <li>Fecha Nacimiento: </li>
    <li>Edad: </li>
    <li>Redes Sociales https://www.facebook.com/braian.delperon </li>

    <h2>Domicilios Conocidos</h2>

          <ul><li>Gaspar Campos entre Centenario y 20 de Noviembre - Barrio El Peron - Garin - Escobar</li>
          </ul>
  <h2> Vehiculos </h2>
    <ul>
     <li>Motos por lo general sin patente</li>
    </ul>

    <h2> Antecedentes </h2>   
     <ul>
      <li>Venta de Cocaina y marihuana al por menor</li>
      <li>Robo Armado a casas</li>
      <li>Robo Armado de autos</li>
        </ul>

      <h2> Otros Comentarios </h2>
        <ul>
          <li>Mentiroso</li>
          <li>Adicto a cocaina y crack</li>
          <li>Estafador</li>
          <li>Caracter Erratico</li>
            </ul>

    {% endblock %}
  </body>
</html>