<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gaspar Monte</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}


    <h1> Gaspar Concha/Monte</h1>
    <img src="https://scontent.faep15-1.fna.fbcdn.net/v/t1.0-9/s960x960/83275945_2544461285822126_4573411773851369472_o.jpg?_nc_cat=110&_nc_sid=85a577&_nc_eui2=AeEKZEDfq-lPxBYoZ7RjGIjiCGfhvykNbkMIZ-G_KQ1uQ418eMWCWP6HwzRUMGO-k_I&_nc_ohc=ZA5aQLfzldwAX_ivBVg&_nc_ht=scontent.faep15-1.fna&_nc_tp=7&oh=58717132a784da2975b857bf86a8c412&oe=5F2A0CD6" alt="Gaspar" width="320" height="240">
    <img src="https://scontent.faep15-1.fna.fbcdn.net/v/t1.0-9/11222910_1623419207926343_8242865925315234582_n.jpg?_nc_cat=100&_nc_sid=7aed08&_nc_eui2=AeEAcVMEIWVz0zkgMs2YiGv8okftL3ICphGiR-0vcgKmEQN4TL3ryu7nT16K6DM9FUg&_nc_ohc=Xz0Mmb69pvwAX9HdVxx&_nc_ht=scontent.faep15-1.fna&oh=31b612e8ea1589b463b1d050f0925827&oe=5F298F48" alt="Gaspar" width="320" height="240">
    <img src="" alt="Gaspar" width="320" height="240">
    <img src="" alt="Gaspar" width="320" height="240">

    <h2>Datos Personales</h2>
    <li>DNI: </li>
    <li>Lugar Nacimiento: </li>
    <li>Fecha Nacimiento: </li>
    <li>Edad: </li>
    <li>Redes Sociales https://www.facebook.com/profile.php?id=100007748388177 </li>

    <h2>Domicilios Conocidos</h2>

          <ul><li>17 de Octubre casi esquina con Los Olmos - Frente a Parque infantil - Barrio El Peron - Garin - Escobar</li>
          </ul>
  <h2> Vehiculos </h2>
    <ul>
     <li>Motos por lo general sin patente</li>
     <li>VOLKSWAGEN POLO AZUL DOMINIO</li>
    </ul>

    <h2> Antecedentes </h2>   
     <ul>
      <li>Venta de Cocaina y Marihuana al por menor</li>
      <li>Hurto de Celulares</li>
      <li>Robo de plantas de Marihuana</li>
        </ul>

      <h2> Otros Comentarios </h2>
        <ul>         
          <li>Estafador/Ladron/Oportunista</li>
        </ul>

    {% endblock %}
  </body>
</html>