<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gregorio Licca Campos</title>
  </head>
  <body>

    {% extends "template.html" %}
    {% block content %}


    <h1> Gregorio Licca Campos</h1>
    <img src="/static/greg.jpg" alt="Gregorio" width="320" height="240">
    <img src="https://scontent.faep15-1.fna.fbcdn.net/v/t1.0-9/15095598_10211040805275475_7591414122692923832_n.jpg?_nc_cat=111&_nc_sid=85a577&_nc_eui2=AeFW0qyVMZQZkLzPB5Mg-Sssn8to33q70bafy2jfervRtpqULgRjrBQGNSW7y0tdoWw&_nc_ohc=xnuJwQkRd_0AX8MVU3w&_nc_ht=scontent.faep15-1.fna&oh=14d3ea2399b96594a08d1ce975cbf00b&oe=5F2B45C5" alt="Gregorio" width="320" height="240">

    <p> DNI: </p>
    <p> Lugar Nacimiento: La Pampa</p>
    <p> Fecha Nacimiento: </p>
    <p> Edad: 26 </p>
    <p> Domicilios Conocidos:</p>
    <ul>
      <li>Los Olivos  - Garin</li>
    </ul>
    <p> Vehiculos </p>
    <ul>
      <li>Bajaj Boxer 150 Negra</li>
    </ul>

    {% endblock %}
  </body>
</html>