<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lucas Zuccarelli</title>
  </head>
  <body>

    {% extends "template.html" %}
    {% block content %}


    <h1> Lucas Zuccarelli</h1>
    <img src="https://scontent.faep15-1.fna.fbcdn.net/v/t1.0-9/13510780_10209749187309245_3177741474358843792_n.jpg?_nc_cat=100&_nc_sid=dd9801&_nc_eui2=AeHHWfwtYvkdy-hxqoDcgx322pCG0PA4UrXakIbQ8DhStZfTWotCzp0Aq5pKxRrCssI&_nc_ohc=Zf2OxE5iTjMAX-uuLwE&_nc_ht=scontent.faep15-1.fna&oh=9013489e1bc53309e3f11fbb385aef87&oe=5F298DD1" alt="Gregorio" width="320" height="240">
    <img src="https://scontent.faep15-1.fna.fbcdn.net/v/t1.0-9/52775108_10218322063825800_4129455332474748928_n.jpg?_nc_cat=104&_nc_sid=85a577&_nc_eui2=AeGIuVzeUeY-kGcHV28ar9d0M6vbLmZOnU8zq9suZk6dT33i6FLyOEVAsITunUg5Czw&_nc_ohc=wBoGmABqv7AAX8nrpMf&_nc_ht=scontent.faep15-1.fna&oh=27eb5ea96a8f884a1cba6d68fe5889b7&oe=5F2A35D3" alt="Gregorio" width="320" height="240">

    <p> DNI: </p>
    <p> Lugar Nacimiento: </p>
    <p> Fecha Nacimiento: </p>
    <p> Edad:  </p>
    <p> Domicilios Conocidos:</p>
    <ul>
      <li>Ingeniero Maschwitz</li>
      <li>Dique Lujan</li>
    </ul>
    <p> Vehiculos </p>
    <ul>
      <li>Peugeot 106 Quicksilver Gris</li>
      <li>Fiat Palio Rojo</li>
    </ul>

    {% endblock %}
  </body>
</html>