<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Marcelo Irigoitia Rojas</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}


    <h1> Marcelo Irigoitia Rojas</h1>
    <img src="/static/marcelo.png" alt="Marcelo" >
    <img src="https://iili.io/dHhB29.png" alt="Marcelo">
    <img src="" alt="Marcelo" width="320" height="240">

    <h2>Datos Personales</h2>
    <li>Cedula Paraguaya: 6.549.233</li>
    
    <li>Lugar Nacimiento: Paraguay</li>
    <li>Fecha Nacimiento: /  /  </li>
    <li>Edad: </li>

    <h2>Domicilios Conocidos</h2>

          <ul><li>Martinez</li>
          <li>Calle 50 3182 - Guillermo E Hudson</li>
          <li>Pedro Agrelo 7060 - Florencio Varela</li>
          <li>Guamini 5241 - Caseros</li></ul>
  <h2> Vehiculos </h2>
    <ul>
     <li>Gol 2012</li>
     <li>Hilux SW4 Gris</li>
     <li>BMW blanco</li>
    </ul>

    <h2> Antecedentes </h2>   
     <ul>
      <li>Venta de Cocaina</li>
      <li>Venta de Marihuana</li>
      <li>Tenencia de relojes caros</li>
      <li>Contacto con gente paraguaya de mucha plata y pesados (marina bety el hijo de bety el esposo de marina)</li>
      <li>Trafico de droga entre Paraguay y Argentina (100kg de prensado / ej)</li>
      <li>Contactos con narcos mas pesados que mueven kgs de merca</li>
        </ul>

      <h2> Otros Comentarios </h2>
        <ul>
          <li>En convivencia con agente policial (PFA?) Lo viene a buscar en un Audi negro</li>
          <li>Ambicioso</li>
          <li>No consume ningun tipo de droga</li>
          <li>Elegante, quiere aparentar un status superior</li>
          <li>Usa lentes de contacto claros</li>
          <li>Contactos con otros vendedores de droga, marihuana, cocaina, trae de paraguay y pone a gente a vender para el</li>
            </ul>

    {% endblock %}
  </body>
</html>