<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sebastian Pinilla</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}


    <h1> Sebastian Pinilla</h1>
    <img src="https://scontent.faep15-1.fna.fbcdn.net/v/t1.0-9/22519605_10204267576645724_3273672367913714040_n.jpg?_nc_cat=107&_nc_sid=13bebb&_nc_eui2=AeEt0bAYBewpz6yxGXWdhSILmbNEfjmdFNWZs0R-OZ0U1bpv0qWXAHSp8UINcvLcAbM&_nc_ohc=23xIK4WyoTkAX8eprYX&_nc_ht=scontent.faep15-1.fna&oh=d3fffeb7ed30dbf820a8ca3e2a0d873a&oe=5F2BA443" alt="Sebastian" width="320" height="240">
    <img src="https://scontent.faep15-1.fna.fbcdn.net/v/t1.0-9/12004821_10201227539486695_4898332581673864554_n.jpg?_nc_cat=111&_nc_sid=7aed08&_nc_eui2=AeGT9HK3QGzpR8gdo1p0Q1Uh7tvRKMHwEdvu29EowfAR24vret7PnTLlmH9bSXmu94k&_nc_ohc=oP9R-zn5ey0AX9B-372&_nc_ht=scontent.faep15-1.fna&oh=a821130383a734a446a14f4eb6be0c23&oe=5F2BEC09" alt="Sebastian" width="320" height="240">
    <img src="https://scontent.faep15-1.fna.fbcdn.net/v/t1.0-9/94032342_10207904624689652_8326146694341197824_n.jpg?_nc_cat=103&_nc_sid=13bebb&_nc_eui2=AeHxlFUnM1fam-1PfPMsuETmSuzLbjYUzBpK7MtuNhTMGqPYXFOw7hZm9C5mKFXCkPg&_nc_ohc=wBVRbqDgtOsAX-joSbF&_nc_ht=scontent.faep15-1.fna&oh=0f4fef48140fc41db7b758cae8e269e3&oe=5F299910" alt="Sebastian" width="320" height="240">
    <img src="https://iili.io/dHcSUv.jpg" alt="Sebastian" width="320" height="240">

    <h2>Datos Personales</h2>
    <li>DNI: 31.970.282</li>
    <li>Lugar Nacimiento: Buenos Aires</li>
    <li>Fecha Nacimiento: 07/06/86</li>
    <li>Edad: 34</li>

    <h2>Domicilios Conocidos</h2>

          <ul><li>Martinez</li>
          <li>Mexico</li>
          <li>Espana</li></ul>
  <h2> Vehiculos </h2>
    <ul>
     <li>Ninguno actual</li>
    </ul>

    <h2> Antecedentes </h2>   
     <ul>
      <li>Venta de LSD</li>
      <li>Venta de Extasis</li>
      <li>Venta de Ketamina</li>
      <li>Venta de Cocaina</li>
      <li>Venta de Prensado</li>
      <li>Venta de entradas a fiestas y afters</li>
      <li>Organizacion de eventos ilegales</li>
      <li>Trafico de droga entre Espana y Argentina</li>
      <li>Contactos con el pelado este</li>
        </ul>

      <h2> Otros Comentarios </h2>
        <ul>
          <li>Mentiroso / Mitomano</li>
          <li>Adicto a cocaina y Ketamina, con periodos de rescate y otros de delirio mistico.</li>
          <li>Estafador</li>
          <li>Contactos con otros vendedores de droga, marcelo algo (pelado), el negro de rastas</li>
            </ul>

    {% endblock %}
  </body>
</html>